<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen ejercicio</title>

    <div>

        <!--<img src="static/archivos/YI_LX8H3VG4FAOZBNW0J.jpg/{{basepath}}" width="200" height="200" alt="NO SE ENCONTRO LA IMAGEN">
        --->
        <img src="{{url_for('static', filename= nuevoNombreFile)}}" alt="NO SE ENCONTRO LA IMAGEN">
    </div>

</head>

<body>
    <h1>Imagen seleccionada</h1>
    <div>El ancho es: {{img_ancho}} , el alto es: {{img_alto}} </div>
</body>

</html>